body{
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.header{
    background-color: #ffffff;
    background-image: url("background_header.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
}
.header-title{
    position: absolute;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -1px;
    max-width: 709px;
    top: 213px;
    left: 80px;
}
.header-description{
    position: absolute;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    top: 400px;
    left: 80px;
}
.header-image{
    position: absolute;
    width: 646px;
    height: 568px;
    top: 124px;
    right: 5px;
}

.nav-links{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 30px;
    right: 26px;
    list-style-type: none;
    display: flex;
}

.nav-link{
    margin-left: 26px;
    text-decoration: none;
    color: #000000;
}

.logo{
    position: relative;
     width: 105px;
    height: 39px;
    margin-top: 30px;
    margin-left: 30px;
}

.span-accent{
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #FF976B;
}
.header-info{
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #6F6F6F;

}
.header-hours{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 80px;
    margin-bottom: 40px;
}
.header-address{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 80px;
    margin-bottom: 40px;
}
.content{

}
.footer{

}